h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

.title-h2 {
  font-family: Visby CF;
  text-align: center;
  font-size: 4vw;
  margin: 0 12vw;
  color: #835274;
  padding-bottom: 40px;
}

.list-videos {
  display: flex;
  justify-content: space-around;
  padding: 0 5vw;
}

.list-videos > iframe {
  width: 200px;
  height: 120px;
}

.botton-unete-ahora {
  display: block;
  margin: 0 auto;
  height: 15vw;
}

.list-videos > div {
  flex: 1;
  padding: 3vw;
}

.iframe2 {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.iframe2 > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .list-videos {
    flex-direction: column;
  }

  .botton-unete-ahora {
    height: 25vw;
  }
}
