.bonusSpecial {
  background-color: #e2e2e2;
  padding: 5vw 7vw;
  margin: 5vw 0;
  font-family: Visby CF;
}

.bonusSpecial > div {
  background-color: white;
  padding: 4vw 12vw;
  text-align: center;
  color: #835274;
}

.bonusSpecial > div > h1 {
  font-size: 6vw;
  font-weight: 700;
  margin-bottom: 3vw;
  text-shadow: 0.25vw 0.2vw 0 #d5b7ca;
}

.bonusSpecial > div > p {
  font-size: 2vw;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .bonusSpecial > div > h1 {
    font-size: 7vw;
  }

  .bonusSpecial > div > p {
    font-size: 3vw;
  }
}
