.fondoParteVid{
    background: #D0CFD1;
}
.insta-perfil {
    padding-right: 10rem;
    padding: 2rem;
    justify-content: center;
    display: flex;
    align-items: center;
    background: white;
}
  
.insta-perfil img {
    height: 1.2rem;
    margin: 0 3%;
}
  
.insta-perfil:last-of-type {
    padding: 0;
}
  
.insta-perfil a {
   text-decoration: none;
   font-family: aileron, poppins;
   color: #666666;

}