.titNormi {
  font-family: Visby CF;
  text-align: center;
  color: #825274;
  font-size: 40px;
  margin: 30px;
}
.titNormi > h1 > span {
  font-weight: 700;
}
.contenedorColum {
  font-family: Visby CF;
}
.container222 {
  display: flex;
  padding: 1vw 13vw;
  color: #825274;
}
.paqImg {
  text-align: center;
  padding: 2vw;
}
.paqImg > div > img {
  height: 13vw;
}

.paqImg > div > h2 {
  font-size: 2vw;
}
.paqImg > div > h2 > span {
  font-weight: 700;
}
