.contenedor {
    font-family: "poppins";
    width: 60vw;
    margin: 0 auto;
}

.contenedor h2 {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.texto {
    padding-top: 5%;
}

.caja-roja {
    color: white;
    text-align: center;
    background: #C74343;
    padding: 3%;
    margin: 3%;
}

.caja-roja .bold {
    font-weight: bold;
}

.centrar {
    text-align: center;
}


