h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

.icon-small {
  height: 2vw;
}

.edit-li li {
  list-style: none;
  display: flex;
  align-items: baseline;
  padding-bottom: 14px;
}

.edit-li > li > h2 {
  font-size: 2vw;
}

.edit-li li img {
  padding-right: 0.8vw;
}

/* Encabezado Targeta Unete */

.unete-head {
  font-family: "poppins";
  text-align: center;
  font-size: 1.7vw;
  color: #835274;
}

.unete-head h2 {
  font-size: 4vw;
  padding: 3vw 0;
}

.unete-precio h2 {
  font-size: 4vw;
}

.unete-head h2 span {
  font-weight: 700;
}

.p-padding {
  padding-bottom: 20px;
}

/* Targeta Unete */

.unete-container {
  font-family: "poppins";
  font-size: 22px;
  color: #835274;
  padding: 40px 40px 10px 40px;
  width: 50vw;
  margin: 0 auto;
  border: 14px solid #dad4d8;
  border-radius: 60px;
}

/* Precios */

.unete-precio {
  text-align: center;
  line-height: 4vw;
}

.precio-anterior {
  font-size: 2.6vw;
  font-weight: 700;
  text-decoration-line: line-through;
  padding-bottom: 10px;
}

.precio-final {
  color: #ff5f5f;
  font-weight: 700;
  font-size: 4vw;
  padding-bottom: 40px;
}

/* Bonus del Programa */

.bonus-programa {
  font-weight: 700;
  display: flex;
  align-items: baseline;
  padding: 2vw 0 2.4vw 0;
}

.bonus-programa h2 {
  font-weight: 700;
  font-size: 3vw;
}

.bonus-programa img {
  padding-right: 8px;
}

.padding-li {
  padding-left: 4vw;
}

/* Boton */

.boton-unete {
  display: block;
  margin: auto;
  width: 50%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .unete-head h2 {
    font-size: 5vw;
  }

  .unete-head {
    font-size: 2.5vw;
  }

  .unete-precio h2 {
    font-size: 5vw;
  }

  .edit-li > li > h2 {
    font-size: 3vw;
  }

  .boton-unete {
    width: 75%;
  }
}
