h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

.icon-small {
  height: 20px;
}

.edit-li li {
  list-style: none;
  display: flex;
  align-items: baseline;
  padding-bottom: 14px;
}

.edit-li li img {
  padding-right: 8px;
}

/* Encabezado Targeta Unete */

.unete-head {
  text-align: center;
  font-size: 22px;
  color: #835274;
}

.unete-head h2 {
  font-size: 40px;
  padding: 30px 0;
}

.unete-head p {
  line-height: 30px;
}

.unete-head h2 span {
  font-weight: 700;
}

.p-padding {
  padding-bottom: 20px;
}

/* Targeta Unete */

.unete-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #835274;
  padding: 40px 40px 10px 40px;
  width: 50vw;
  margin: 0 auto;
  border: 14px solid #dad4d8;
  border-radius: 60px;
}

/* Precios */

.unete-precio {
  text-align: center;
  line-height: 40px;
}

.precio-anterior {
  font-size: 26px;
  font-weight: 700;
  text-decoration-line: line-through;
  padding-bottom: 10px;
}

.precio-final {
  color: #ff5f5f;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 40px;
}

/* Bonus del Programa */

.bonus-programa {
  font-weight: 700;
  display: flex;
  align-items: baseline;
  padding: 20px 0 24px 0;
}

.bonus-programa h2 {
  font-weight: 700;
}

.bonus-programa img {
  padding-right: 8px;
}

.padding-li {
  padding-left: 40px;
}

/* Boton */

.boton-unete {
  display: block;
  margin: auto;
  width: 400px;
}
