* {
  margin: 0;
  padding: 0;
}

.loader {
  font-family: aileron-black, poppins;
  font-weight: 700;
}

/* Componente Header */

.header {
  background: #691f9c;
  padding: 2rem;
}

.home-page {
  text-align: center;
}

.h1-span {
  color: white;
}

.header-text {
  margin: 2% 5% 2% 10%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 35px;
  font-family: aileron, poppins;
}

.header-text h1 {
  text-align: left;
}

.video > h2 {
  font-size: 1.7vw;
}

.header-text h2 {
  font-size: 3em;
  line-height: 0;
  color: white;
}

/* Componente Main Video */

.main-video {
  padding: 2rem;
  justify-content: center;
  align-items: center;
  background: #d8d8d8;
  color: #666666;
  font-family: alexis-marie;
}

.video iframe {
  border: none;
  height: 400px;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Componente Banner */

.box-banner {
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d8d8d8;
  flex-direction: row;
}

.banner {
  text-align: center;
  text-decoration: none;
  font-size: 1.7vw;
}

.banner > h3 {
  font-family: alexis-marie;
  color: #666666;
}

.itemImag {
  width: 25vw;
}

/* Componente Comentarios */

.commit-box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.redes {
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.link-instgram {
  padding-right: 10rem;
  display: flex;
  align-items: center;
}

.link-instgram img {
  height: 1.2rem;
  margin: 0 3%;
}

.link-instgram:last-of-type {
  padding: 0;
}

.link-instgram a {
  text-decoration: none;
  font-family: aileron, poppins;
  color: #666666;
}

.commits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commits > h2 {
  font-family: aileron, poppins;
  color: #666666;
  margin-bottom: 2%;
  font-size: 2vw;
}

.commits div {
  border: 1rem solid #d7dbdd;
  border-radius: 1rem;
  width: 52%;
}

.commits textarea {
  resize: none;
  outline: 0 none;
  border: none;
}

.commits textarea {
  text-align: left;
  font-family: aileron, poppins;
}

.commits input {
  text-align: left;
  font-family: aileron, poppins;
}

.commits textarea::placeholder {
  text-align: left;
  font-family: aileron, poppins;
}

.commits input::placeholder {
  text-align: left;
  font-family: aileron, poppins;
}

.commit {
  padding: 4rem;
}

/* Componente Descargar */

.box-download {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-download {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-download > h3 {
  font-family: aileron, poppins;
  color: #666666;
  margin: 3% 0%;
  font-size: 22px;
}

.box-download img {
  height: 20rem;
}

.btn {
  width: 21vw;
  background: #825274;
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-radius: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn > h1 {
  font-size: 2vw;
}

.btn-download a {
  text-decoration: none;
  color: white;
}

.btn-download a img {
  margin: 0;
  height: 2.5rem;
}

/* Componente Footer */

.pie {
  color: white;
  background: #242323;
  margin: auto;
  padding: 2% 0;
  font-size: 1.5vw;
  text-align: center;
}
.pie p {
  color: white;
}
.linkLegal {
  color: white;
}

.buttonTextarea {
  margin: 1% 10px;
  background: #825274;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  color: white;
  font-family: aileron-black, poppins;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.upperButton1 {
  font-family: aileron, poppins;
  font-size: 1.7vw;
  color: #666666;
  text-align: justify;
  font-weight: 700;
}

.upperButton2 {
  font-family: alexis-marie;
  font-size: 1.7vw;
  color: #666666;
  text-align: justify;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .header-text {
    font-size: 10px;
    padding: 0;
    margin: 0;
  }

  .video iframe {
    height: 200px;
  }

  .btn-download a img {
    height: 1rem;
  }

  .btn-download a h1 {
    font-size: 1rem;
  }

  .btn {
    width: 37vw;
  }

  .redes {
    flex-direction: column;
  }

  .link-instgram {
    padding: 0;
  }

  .commits div {
    width: 100%;
  }

  .video h2 {
    font-size: 22px;
  }

  .box-download img {
    height: 10rem;
    margin: 5% 0;
  }

  .box-download h3 {
    font-size: 15px;
  }
}
